
<div class="bg"></div>
<div id="J_fps" class="fps">60</div>
<div id="J_distance" class="distance">0</div>

<div id="J_countdown" class="countdown"></div>
<h1 class="title" style="text-align:center;">正在匹配 <span id="roomId"></span> <%= nickname %></h1>

<script>
	var HOST = '<%= HOST %>'
		,nickname = '<%= nickname %>'
	;
</script>
<script src="js/common.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/birdsocket.js"></script>
<script src="js/module/bird.js"></script>
<script src="js/module/board.js"></script>
<script src="js/module/collisionDetection.js"></script>
<script src="http://fightingbird-jingz-p71.bj.oupeng.com/js/module/obstacle.js"></script>
<script src="js/module/timeMachine.js"></script>
<script src="js/main.js"></script>
	

    
